<mat-form-field class="prod_id_input-container" appearance="legacy" [style.width.px]="225">
  <input #productIdCtl matInput type="tel" autocomplete="off" maxlength="16"
         [formControl]="getFormControl()"
         (keypress)="handleKeyPress($event, this.productIdCtl)"
         (keydown)="handleKeyDown($event, this.productIdCtl)"
         class="mono"
         matTooltip="Enter your NVRs Product ID"
         matTooltipClass="tooltip"
         placeholder="NVR Product ID">
  <mat-hint>The 16 character product ID of your NVR</mat-hint>
</mat-form-field>

