<mat-form-field class="prod_id_input-container register-account-input" appearance="outline">
  <input #productIdCtl matInput type="text" autocomplete="off" maxlength="19"
    [formControl]="getFormControl()"
    (focus)="setFocus()"
    (keydown)="handleKeyDown($event, productIdCtrl.nativeElement)"
    class="mono"
    matTooltip="Enter your NVR Product ID. This will have been provided on a note with your NVR"
    matTooltipClass="tooltip"
    placeholder="NVR Product ID">
  <mat-label>The 16 character product ID of your NVR</mat-label>
  @if (formControl.hasError('pattern')) {
    <mat-error>All 16 characters of the product ID are required
    </mat-error>
  }
</mat-form-field>

