<mat-card>
  <mat-card-title>Accounts Admin</mat-card-title>
  <mat-card-content class="wait-box mat-form-field-flex" *ngIf="downloading">
    <mat-spinner [diameter]="25"></mat-spinner>
    <span>Loading, Please wait..</span>
  </mat-card-content>
  <mat-card-content *ngIf="!downloading">
    <mat-form-field appearance="standard">
      <mat-label>Filter Text</mat-label>
      <input matInput type="text"
             #filter
             (keyup)="updateFilter()"
             matTooltip="Enter a search term to filter the list"
             matTooltipClass="tooltip"
             placeholder="Filter">
    </mat-form-field>
    <mat-checkbox class="filter-checkbox"
                  [color]="'primary'"
                  matTooltip="Only show rows for accounts where the NVR is offline"
                  matTooltipClass="tooltip"
                  (change)="onlyNVROffline($event)">Only NVR Offline
    </mat-checkbox>
    <mat-checkbox class="filter-checkbox" [color]="'primary'"
                  matTooltip="Only show rows for NVRs where no account has yet been created"
                  matTooltipClass="tooltip"
                  (change)="noAccountOnly($event)">Only No Account
    </mat-checkbox>

    <table mat-table class="mat-elevation-z8"
           [dataSource]="accounts | filter:filterText:bOnlyNVROffline.toString():bNoAccountOnly.toString()">

      <ng-container matColumnDef="changePassword">
        <th mat-header-cell *matHeaderCellDef>Change Password</th>
        <td class="buttons" mat-cell *matCellDef="let account">
          <button mat-icon-button matTooltip="Change the password for this account" matTooltipClass="tooltip"
                  color="warn"
                  [disabled]="!account.accountCreated"
                  (click)="changePassword(account)">
            <mat-icon>security</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="disableAccount">
        <th mat-header-cell *matHeaderCellDef>Enable/Disable Account</th>
        <td class="check-box" mat-cell *matCellDef="let account">
          <mat-checkbox color="accent"
                        [matTooltip]="(account.accountEnabled ? 'Disable':'Re-enable') + ' this account'"
                        matTooltipClass="tooltip"
                        [checked]="account.accountEnabled"
                        [disabled]="!account.accountCreated"
                        (change)="setAccountEnabledStatus(account, $event)">
            {{account.accountEnabled?"Enabled":"Disabled"}}
          </mat-checkbox>
         </td>
      </ng-container>

      <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef>ProductId</th>
        <td mat-cell class="product-id" *matCellDef="let account; let i = dataIndex">
          {{account.productId}}
        </td>
      </ng-container>

      <ng-container matColumnDef="accountCreated">
        <th mat-header-cell *matHeaderCellDef>Account Created</th>
        <td mat-cell *matCellDef="let account; let i = dataIndex">
          <mat-icon
            matTooltip="{{account.accountCreated?'An account has been created':'No account has yet been created'}}"
            matTooltipClass="tooltip"
            [ngClass]="account.accountCreated?'status-ok':'status-warn'">
            {{account.accountCreated ? 'account_circle' : 'notification_important'}}
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let account; let i = dataIndex">
          {{account.userName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="nvrConnected">
        <th mat-header-cell *matHeaderCellDef>NVR Connected</th>
        <td mat-cell *matCellDef="let account; let i = dataIndex">
          <mat-icon matTooltip="{{account.nvrConnected?'NVR is connected':'NVR is not connected'}}"
                    matTooltipClass="tooltip"
                    [ngClass]="account.nvrConnected?'status-ok':'status-warn'">
            {{account.nvrConnected ? 'sync' : 'sync_problem'}}
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="usersConnected">
        <th mat-header-cell *matHeaderCellDef>Users Connected</th>
        <td mat-cell *matCellDef="let account; let i = dataIndex">
          {{account.usersConnected}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
