table {
  width: 50%;
}

.product-id {
  font-family: monospace, sans-serif;
}

.status {
  background-color: lightgrey;
  border-radius: 0.9rem;
  cursor: default;
}

.status-ok {
  @extend .status;
  color: green;
}

.status-warn {
  @extend .status;
  color: red;
}

.filter-checkbox {
  margin-left: 1rem;
  position: relative;
  top: 0.25rem;
}


.buttons {
  background-color: #323232;
}

.check-box {
  background: linear-gradient(90deg, #323232 95%, #424242 95%);
}

div.message-display {
  width: fit-content;
  display: flex;
  > div {
    margin-bottom: 1rem;
    flex-grow: 2;
  }
}
