<div class="sec-cam-navbar">
  <a mat-icon-button href="#">
    <mat-icon>videocam</mat-icon>
  </a>

  <div>
    <div *ngIf="!noTemperature && !utilsService.isAdmin" [ngClass]="tempAlertClass">Core Temp: {{temperature}} °C</div>
  </div>

  <button mat-button class="navbar-toggler" type="button" (click)="toggleMenu()"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <mat-icon>menu</mat-icon>
  </button>

  <div #navbarCollapse class="collapse" id="navbarSupportedContent">
    <div [style]="'display:'+ ((utilsService.loggedIn && !utilsService.isAdmin) ? 'inherit' : 'none')">
      <button mat-button [matMenuTriggerFor]="menuSelectCamera" id="cameraDropdown">
        Select Camera
      </button>
      <mat-menu #menuSelectCamera="matMenu">
        <ng-container *ngFor="let cs of cameraStreams">
          <button  mat-menu-item (click)="setVideoStream(cs);menuClosed()">
            {{cs.camera.name + " (" + cs.stream.descr + ")"}}
          </button>
        </ng-container>
        <button mat-menu-item (click)="multiCamView();menuClosed()">Multi Camera View</button>
      </mat-menu>
    </div>

    <div [style]="'display:'+ ((utilsService.loggedIn && !utilsService.isAdmin) ? 'inherit' : 'none')">
      <button mat-button [matMenuTriggerFor]="menuSelectRecording">Select Recording</button>
      <mat-menu #menuSelectRecording="matMenu">
        <ng-container *ngFor="let cs of cameraStreams">
          <button mat-menu-item (click)="showRecording(cs);menuClosed()" *ngIf="cs.stream.recording.enabled">
            {{cs.camera.name + " (" + cs.stream.descr + ")"}}
          </button>
        </ng-container>
      </mat-menu>
    </div>

    <div [style]="'display:'+ ((utilsService.loggedIn && !utilsService.isAdmin) ? 'inherit' : 'none')">
      <button mat-button [matMenuTriggerFor]="menuCameraSettings">Camera Settings</button>
      <mat-menu #menuCameraSettings="matMenu">
        <ng-container *ngFor="let cam of cameras">
          <button *ngIf="cam.address!=''&&cam.controlUri!=''" mat-menu-item
                  (click)="cameraControl(cam);menuClosed()">
            {{cam.name}}
          </button>
        </ng-container>
      </mat-menu>
    </div>

    <div *ngIf="(utilsService.loggedIn && utilsService.isAdmin)">
      <button mat-button [matMenuTriggerFor]="admin">Admin</button>
      <mat-menu #admin=matMenu>
        <button mat-menu-item (click)="accountsAdmin(); menuClosed()">
          Accounts admin
        </button>
      </mat-menu>
    </div>

    <div class="no-session-menus" *ngIf="!utilsService.loggedIn">
      <button mat-button (click)="login();menuClosed()">Log in</button>
      <button mat-button (click)="registerAccount();menuClosed()">Create Account</button>
    </div>

    <div class="float-right-on-full-width" *ngIf="utilsService.loggedIn">
      <button mat-button [matMenuTriggerFor]="menuGeneral">General</button>
      <mat-menu #menuGeneral="matMenu">
        <button *ngIf="!utilsService.isAdmin" mat-menu-item (click)="configSetup();menuClosed()">
          Configure Camera Setup
        </button>
        <button mat-menu-item (click)="confirmLogoff();menuClosed()">
          Log Off
        </button>
        <button mat-menu-item (click)="changePassword();menuClosed()">
          Change Password
        </button>
        <div *ngIf="!utilsService.isAdmin" class="dropdown-divider"></div>
        <button *ngIf="!utilsService.isAdmin" mat-menu-item (click)="setIp();menuClosed()">
          Save Current Public IP
        </button>
        <button *ngIf="!utilsService.isAdmin && !utilsService.hasLocalAccount" mat-menu-item (click)="registerLocalNVRAccount(); menuClosed()">Register Local NVR Account</button>
        <button *ngIf="!utilsService.isAdmin && utilsService.hasLocalAccount" mat-menu-item (click)="removeLocalNVRAccount(); menuClosed()">Remove Local NVR Account</button>
        <button *ngIf="!utilsService.isAdmin" mat-menu-item (click)="drawdownCalc();menuClosed()">
          Pension Drawdown Calculator
        </button>
        <div *ngIf="!utilsService.isAdmin" class="dropdown-divider"></div>
        <button *ngIf="!utilsService.isAdmin" mat-menu-item (click)="about();menuClosed()">
          About NVR
        </button>
        <button *ngIf="utilsService.isAdmin" mat-menu-item (click)="aboutCCTVCloud();menuClosed()">
          About CCTV Cloud
        </button>
      </mat-menu>
    </div>
  </div>
</div>
<mat-card class="mat-elevation-z8 confirm-logout alert-warning" *ngIf="confirmLogout">
  <mat-card-subtitle style="color: inherit">
    Logout from Security Cam, Are you sure?
  </mat-card-subtitle>
  <mat-card-content>
    <button mat-flat-button color="warning" (click)="logOff(true)">Confirm</button>
    <button mat-flat-button color="default" (click)="logOff(false)">Cancel</button>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
