.register-container
{
  margin-top: 1rem;
  font-size: 16px;
  display: inline-flex;
  width: 100%;
  >mat-card
  {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

mat-form-field {
  margin-bottom: 0.5rem;
}
