.wifi-settings-container
{
  margin-top: 1rem;
  font-size: 2rem;
  display: inline-flex;
  width: 100%;
  >mat-card
  {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    > mat-card-content {
      >div {
        width: 30rem;
      }
    }
  }
}

div.button-container{
  margin-top: 0.8rem;
  > button {
    margin-right: 0.5rem;
  }
}

div.reset-connection-button {
  margin-top: -3rem;
  margin-bottom: 3rem;
}

.app-reporting {
  > div {
    > div {
      margin-bottom: 30rem;
      margin-top: 2rem;
    }
  }
}
