.wifi-settings-container
{
  margin-top: 1rem;
  font-size: 2rem;
  display: inline-flex;
  width: 100%;
  >mat-card
  {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    > mat-card-content {
      >div {
        width: 20rem;
      }
    }
  }
}

div.button-container{
  margin-top: 0.8rem;
  > button {
    margin-right: 0.5rem;
  }
}

div.reset-connection-button {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

mat-form-field.password-field
{
    margin-bottom: 2rem;
}

span.connecting-spinner {
  display: flex;
  > mat-spinner {
    margin-right: 1rem;
  }
}

div.connecting-spinner {
  display: flex;
  > mat-spinner {
    position: relative;
    top: 0.3rem;
    left: 0.5rem;
  }
}
